# Cache and Checkpoints
.ipynb_checkpoints
*.ipynb_checkpoints
__pycache__
*__pycache__
.DS_Store
*.DS_Store

# Files 
results/**/*.pkl
results/**/*.npy
*write_up
write_up/*
src/report.py
test.py

# Virtual environment
.venv

# LUMI
lumi/